// global styles for global components (nav etc)
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// variables
$grey: #161616;
$header-height: 70px;
$button-hover--color: rgb(218,165,32);
$button-hover--color2: #fff;
$container-size: 1140px;

html {
    box-sizing: border-box;
}

body {
    background: rgb(18, 18, 18);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    
}

.navbar {
    position: sticky;
    top: 0;
    background-color: $grey;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            gap: 32px;
            align-items: center;

            li {
                a {
                    text-decoration: none;
                    color: white;
                    transition: all 0.1s;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    font-size: 16px;
                }

                &:hover {
                    a {
                        color: $button-hover--color;
                    }
                }
            }
        }
    }
}

.logo {
    a {
        color: white;
        font-size: 24px;
        text-decoration: none;

        img {
            max-width: 40px;
        }
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li {
    margin: 0 15px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.social-icons a {
    color: white;
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
}

/* Card Slide-in Menu for Mobile */
.card-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 200px;
    height: 100%;
    background-color: $grey;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    padding: 20px;

    .hamburger-card {
        display: flex;
        flex-direction: column;
        margin-top: $header-height;
        gap: 24px;

        &--links {
            display: flex;
            flex-direction: column;
            gap: 24px;

            a {
                color: white;
                text-decoration: none;
                font-size: 20px;
            }
        }

        &--social {
            display: flex;
            gap: 8px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .hamburger-divider {
        height: 1px;
        background: rgba(255,255,255,0.2);
        width: 100%;
    }
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar-container ul, .nav-links {
        display: none; /* Hide regular nav links on mobile */
    }

    .card-menu.open {
        right: 0; /* Show the mobile menu when hamburger is clicked */
        z-index: 1;
    }

    .navbar {
        display: flex;
        justify-content:space-between;

        .hamburger {
            order: 2;
        }
    }

    .card-menu .hamburger-card--social {
        gap: 24px;

        i {
            font-size: 24px;
        }
    }
}

.container {
    max-width: $container-size;
    margin: 0 auto;
}

a.button {
    font-size: 16px;
    color: $button-hover--color2;
    padding: 8px 16px;
    border: 1px solid $button-hover--color2;
    transition: all 0.2s;
    text-decoration: none;
    border-radius: 4px;

    &:hover {
        border: 1px solid $button-hover--color;
        color: $button-hover--color;
    }
}

.button-gold {
    background: $button-hover--color;
    color: black !important;
    border: 1px solid transparent !important;

    &:hover {
        border: 1px solid $button-hover--color !important;
        background: black;
        color: $button-hover--color !important;
    }
}

i {
    font-size: 24px;
    transition: all 0.2s;

    &:hover {
        color: $button-hover--color;
    }
}

.sub-header {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 60px;
} 

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    background: $grey;
    flex-direction: column;
    gap: 24px;

    h3 {
        font-size: 20px;
        color: white;
        text-align: center;
        font-weight: 400;
    }

    .social {
        display: flex;
        justify-content: center;
        gap: 24px;

        a {
            text-decoration: none;

            i {
                font-size: 24px;
                color: white;

                &:hover {
                    color: $button-hover--color;
                }
            }
        }
    }

    .copyright {
        background: rgb(22, 22, 22);
        color: rgb(206, 206, 206);
        text-align: center;
        padding-top: 16px;
        font-size: 14px;
        // border-top: 1px solid black;
        margin-bottom: 0;
    }
}

// all styles for home page
.home {
    header {
        background-image: url('img/Cover.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;

        @media screen and (max-width: 768px) {
            height: 400px;
        }

        .header--container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            gap: 48px;

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                gap: 16px;

                @media screen and (max-width: 768px) {
                    margin-top: 165px;
                }
                
                h1 {
                    font-size: 48px;

                    @media screen and (max-width: 768px) {
                        font-size: 40px;
                    }
                }
    
                h2 {
                    font-size: 28px;
                    font-weight: 500;
                    color: $button-hover--color;

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }
                }
            }

            .button {
                padding: 12px 24px;
                background: black;
                transition: all 0.2s;
                border-radius: 4px;
                font-size: 20px;
                text-decoration: none;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    .video-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 80px 0;

        @media screen and (max-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        h2 {
            color: white;
            text-align: center;
            font-size: 32px;
            margin-bottom: 32px;
        }
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    
    // video {
    //     width: 100%;
    //     border-radius: 10px;
    //     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    // }

    // .video {
    //     padding-top: 60px;
    //     padding-bottom: 40px;
    //     max-width: 900px;
    //     margin: 0 auto;

    //     h2 {
    //         color: white;
    //         text-align: center;
    //         font-size: 32px;
    //         margin-bottom: 32px;
    //     }
    // }

    .blurb {
        padding-bottom: 40px;
        background: #1e1e1e;
        padding: 40px 16px;

        @media screen and (max-width: 1024px) {
            padding-left: 16px;
            padding-right: 16px;
        }

        h2 {
            color: white;
            text-align: center;
            font-size: 30px;
            margin: 0 auto;
            margin-bottom: 24px;
            max-width: 600px;
            line-height: 120%;
        }

        p {
            color: white;
            text-align: center;
            font-size: 16px;
            margin: 0 auto;
            max-width: 800px;
            font-weight: 300;
            line-height: 150%;
        }
    }

    .about-us {
        display: flex;
        gap: 32px;
        margin-top: 80px;

        @media screen and (max-width: 1024px) {
            flex-wrap: wrap;
        }

        &--item {
            flex: 1;
            background: #181818;
            border-radius: 8px;
            overflow: hidden;

            @media screen and (max-width: 1024px) {
                flex: 0 0 47%;
            }

            @media screen and (max-width: 768px) {
                flex: 1 0 100%;
            }

            h1 {
                color: white;
                text-align: center;
                font-size: 24px;
                margin-bottom: 40px;
            }

            &.brandan-about {
                @media screen and (max-width: 768px) {
                    order: 1;
                }
            }

            &.monique-about {
                @media screen and (max-width: 768px) {
                    order: 2;
                }
            }

            &.both-about {
                @media screen and (max-width: 768px) {
                    order: 3;
                }
            }

            .link {
                overflow:hidden;
                display: block;
            }

            .cover-image {
                max-width: 100%;
                background-size: cover;
                background-position: top center;
                background-repeat: no-repeat;
                height: 400px;
                transition: all 0.4s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
               
            }

            .item-container {
                display: flex;
                flex-direction: column;
                padding: 32px 16px 32px 16px;
                gap: 32px;

                .text-container {
                    text-align: center;
    
                    h2 {
                        font-size: 24px;
                        color: white;
                        margin-bottom: 16px;
                        font-weight: 500;
                    }
    
                    p {
                        color: white;
                        font-weight: 300;
                        line-height: 150%;
                    }
                }
    
                .button-container {
                    padding: 0 16px;
                    margin-top: 8px;
                    // margin-bottom: 32px;
                    text-align: center;
                }
            }
        }
    }

    .client-photos {
        padding: 80px 0 60px 0;

        h2 {
            color: white;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 32px;
        }

        &--container {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;

            @media screen and (max-width: 768px) {
                padding: 0 16px;
            }

            .item {
                flex: 1 0 31%;
                // remove these
                height: 400px;
                background-size: cover;            

                @media screen and (max-width: 768px) {
                    flex: 1 0 100%;
                }
            }
        }
    }

    .testimonials {
        width: 100%;
        max-width: 600px;
        margin: auto;
        overflow: hidden;
        position: relative;
        margin: 60px auto;

        h2 {
            color: white;
            font-weight: 500;
            text-align: center;
            margin-bottom: 24px;
            font-size: 20px;
        }

        .testimonial-container {
            display: flex;
            transition: transform 0.5s ease-in-out;
            

            .testimonial {
                min-width: 100%;
                box-sizing: border-box;
                padding: 20px;
                border-radius: 8px;
                text-align: center;
                user-select: none;

                p {
                    font-size: 20px;
                    color: white;
                    line-height: 120%;
                    font-weight: 300;
                }

                .name {
                    font-weight: 500;
                    margin-top: 16px;
                }
            }
        }

        .buttons {
            text-align: center;
            margin-top: 10px;

            button {
                background: #333;
                color: white;
                border: none;
                padding: 8px 12px;
                cursor: pointer;
                margin: 0 5px;
                border-radius: 5px;
            }
        }
    }

    .newsletter {
        background: #1e1e1e;
        padding: 60px 0;
        margin: 100px 0 20px 0;

        @media screen and (max-width: 768px) {
            padding: 60px 16px;
        }

        &--container {
            text-align: center;
            color: white;
            max-width: 800px;
            margin: 0 auto;

            h3 {
                font-size: 20px;
                font-weight: 500;
            }

            .button--container {
                margin-top: 32px;

                a {
                    font-weight: 500;
                    padding: 8px 32px;
                }
            }
        }
    }
}


// all styles for about page
.about {

    .item--container {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-bottom: 60px;

        .item {
            display: flex;
            gap: 40px;

            @media screen and (max-width: 1160px) {
                padding: 0 16px;
            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
    
            .image-container {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                flex: 1;
                border-radius: 8px;

                @media screen and (max-width: 768px) {
                    height: 500px;
                    flex: 1 0 auto;
                }
            }
    
            .text-container {
                flex: 1;
                padding-top: 32px;
                padding-bottom: 48px;

                @media screen and (max-width: 768px) {
                    padding-top: 0;
                }
    
                h1 {
                    font-size: 30px;
                    color: white;
                    margin-bottom: 24px;
                    font-weight: 500;
                }
    
                p {
                    font-size: 16px;
                    color: white;
                    margin-bottom: 16px;
                    line-height: 150%;
                    font-weight: 300;
                }

                .button--container {
                    margin-top: 40px;
                }
            }
        }

        
    }

    #monique {

        .text-container {
            @media screen and (max-width: 768px) {
                order: 2;
            }
        }
    }
}

.works {

    &--image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 16px;
        color: white;
        flex-direction: column;

        img {
            max-width: 400px;
            width: 100%;
            border-radius: 8px;
        }
    }

    

    .how-it-works {
        background: #1e1e1e;
        padding: 40px 16px;

        @media screen and (max-width: 768px) {
            padding: 40px 16px;
        }

        &--container {
            text-align: center;
            color: white;
            max-width: 800px;
            margin: 0 auto;

            p {
                line-height: 150%;
                font-weight: 300;
            }
        }
    }
}